<!-- Footer -->
<footer class='font-small text-black bg-white' id="footer">
    <div class='container-fluid row text-center pt-3'>
        <div class='col-md-3 mb-md-0'>
            <h5 class='text-uppercase'>Socials Links</h5>
            <ul class="socials">
                <!-- <a href='https://twitter.com'><i class="fab fa-twitter"></i></a>
                <a href='https://facebook.com'><i class="fab fa-facebook"></i></a>
                <a href='https://youtube.com'><i class="fab fa-youtube"></i></a>
                <a href='https://instagram.com'><i class="fab fa-instagram"></i></a> -->
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
            </ul>
        </div>
        
        <div class='col-md-6 mb-md-0 footer-copyright text-center'>© {% now "Y" %} Copyright: Thirty-Seven Boroughs. All Rights Reserved.</div>
        
        <div class='col-md-3 mb-md-0'>
            <h5 class='text-uppercase'>Page Links</h5>
            <ul class='list-unstyled'>
                <li><a class="nav-link" href="{% url 'creators' %}">Creators</a></li>
            </ul>
        </div>

    </div>
</footer>