<!-- NAVBAR -->
<nav class="navbar navbar-expand-xl navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><b>37</b>BOROUGHS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" id="myNav">
                <li class="nav-item"><a class="nav-link" href="{% url 'boroughs_landing' %}">Boroughs</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'image-upload' %}">Contribute Photo</a></li>
            </ul>
        </div>
    </div>

    <li class="dropdown">
        <div class="input-group">
            <div class="input-group-prepend">
                <label for="myInput" class="input-group-text" id="basic-addon1">
                    <i class="fas fa-search-location"></i>
                </label>
                <!-- <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-search-location"></i>
                </span> -->
            </div>
            <input type="text" class="form-control" placeholder="Search for a Borough" aria-label="Search" aria-describedby="basic-addon1" onkeyup="filter()" onfocus="show_items()" id="myInput"> <!-- onblur="show_items()" -->
        </div>
        <div id="myDropdown" class="dropdown-content">
            <div class="menuItems">
                <a href="{% url 'borough-details' 'chinatown' %}">Chinatown</a>
                <a href="{% url 'borough-details' 'test' %}">Downtown / Civic Center</a>
                <a href="{% url 'borough-details' 'test' %}">Financial District</a>
                <a href="{% url 'borough-details' 'test' %}">Marina</a>
                <a href="{% url 'borough-details' 'test' %}">Pacific Heights</a>
                <a href="{% url 'borough-details' 'test' %}">Mission</a>
                <a href="{% url 'borough-details' 'test' %}">Castro / Upper Market</a>
                <a href="{% url 'borough-details' 'test' %}">Presidio</a>
                <a href="{% url 'borough-details' 'test' %}">Inner Sunset</a>
                <a href="{% url 'borough-details' 'test' %}">Twin Peaks</a>
                <a href="{% url 'borough-details' 'test' %}">Treasure Island / Yerba Buena Island</a>
                <a href="{% url 'borough-details' 'test' %}">Golden Gate Park</a>
                <a href="{% url 'borough-details' 'test' %}">Noe Valley</a>
                <a href="{% url 'borough-details' 'test' %}">Nob Hill</a>
                <a href="{% url 'borough-details' 'test' %}">North Beach</a>
                <a href="{% url 'borough-details' 'test' %}">Russian Hill</a>
                <a href="{% url 'borough-details' 'test' %}">Western Addition</a>
                <a href="{% url 'borough-details' 'test' %}">South of Market</a>
                <a href="{% url 'borough-details' 'test' %}">Portrero Hill</a>
                <a href="{% url 'borough-details' 'test' %}">Haight-Ashbury</a>
                <a href="{% url 'borough-details' 'test' %}">Presidio Heights</a>
                <a href="{% url 'borough-details' 'test' %}">Seacliff</a>
                <a href="{% url 'borough-details' 'test' %}">Outer Richmond</a>
                <a href="{% url 'borough-details' 'test' %}">Inner Richmond</a>
                <a href="{% url 'borough-details' 'test' %}">Outer Sunset</a>
                <a href="{% url 'borough-details' 'test' %}">West of Twin Peaks</a>
                <a href="{% url 'borough-details' 'test' %}">Glen Park</a>
                <a href="{% url 'borough-details' 'test' %}">Bernal Heights</a>
                <a href="{% url 'borough-details' 'test' %}">Bayview</a>
                <a href="{% url 'borough-details' 'test' %}">Excelsior</a>
                <a href="{% url 'borough-details' 'test' %}">Visitacion Valley</a>
                <a href="{% url 'borough-details' 'test' %}">Crocker-Amazon</a>
                <a href="{% url 'borough-details' 'test' %}">Outer Mission</a>
                <a href="{% url 'borough-details' 'test' %}">Oceanview</a>
                <a href="{% url 'borough-details' 'test' %}">Diamond Heights</a>
                <a href="{% url 'borough-details' 'test' %}">Parkside</a>
                <a href="{% url 'borough-details' 'test' %}">Lakeshore</a>
            </div>
            <div style="display:none;" class="dropdown-header dropdown_empty">No entry found</div>
        </div>
    </li>

</nav>