<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Welcome to 37 Boroughs!!!</h1>

<div class="row text-center">
    <h3>If you're new to the site, please visit our <a href="{% url 'about' %}">about page</a> for more information.</h3>

    <h3>If you want to contribute to the site, please visit the <a href="{% url 'image_upload' %}">upload page</a> for more information.</h3>

    <h3><a href="{% url 'Boroughs' %}">View Allready uploaded Photos.</a></h3>
</div>
{% endblock %}
