{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col m-4">
        <a href="{% url 'boroughs_landing' %}" class="btn btn-link float-right">Back to List</a>
        <div class="row">
            <h2>
                {{ borough.title }} {{ borough.zipcode }}
                <!-- <small class="text-muted">Last updated by <b>{{ borough.author.username }}</b> on
                    {{ borough.modified|date:"SHORT_DATETIME_FORMAT" }} </small> -->
            </h2>
            {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'edit-borough' slug=borough.slug %}"><i class="fas fa-edit"></i></a>
            {% endif %}
        </div>


        <hr>


        <div class="row mt-3">
            <div class="col" style="margin-top: 3em; margin-bottom: 2em;">
                <p>{{ borough.content|linebreaksbr }}</p>

                <hr>
                {{Census_Name}}
                <br>
                
                <i class="fas fa-street-view"></i> {{Census_Pop}}
                <br>
                
                <i class="fas fa-home"></i> {{Census_House}}
                <hr>

                {% if borough.sources %}
                    <a class="float-right" href="{{ borough.sources }}">More Content</a>
                {% endif %}
            </div>
            <div class="col text-center">
                {% if borough.main_img %}
                    <img class="img-fluid" src="{{ borough.main_img.url }}" alt="Main Borough Image" />
                {% else %}
                    <a href="https://placeholder.com"><img class=img-fluid"
                        src="https://via.placeholder.com/250x250?text=Image+of+this+place" alt="Place Holder Image"/></a>
                {% endif %}
            </div>
        </div>


        <div class="row mt-2">
            <div class="col text-center">
                {% if borough.main_img2 %}
                    <img class="img-fluid" src="{{ borough.main_img2.url }}" alt="2nd Main Borough Image" />
                {% else %}
                    <a href="https://placeholder.com"><img class=img-fluid"
                        src="https://via.placeholder.com/250x250?text=Image+of+this+place" alt="Place Holder Image" /></a>
                {% endif %}
            </div>
            
            
            <div class="col text-center">
                {% if borough.main_img3 %}
                    <img class="img-fluid" src="{{ borough.main_img3.url }}" alt="3rd Main Borough Image" />
                {% else %}
                    <a href="https://placeholder.com"><img class=img-fluid"
                        src="https://via.placeholder.com/250x250?text=Image+of+this+place" alt="Place Holder Image" /></a>
                {% endif %}
            </div>
            
            
            <div class="col text-center">
                {% if borough.main_img4 %}
                    <img class="img-fluid" src="{{ borough.main_img4.url }}" alt="4th Main Borough Image" />
                {% else %}
                    <a href="https://placeholder.com"><img class=img-fluid"
                        src="https://via.placeholder.com/250x250?text=Image+of+this+place" alt="Place Holder Image" /></a>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<hr>

<p class="text-center">
    <button class="btn btn-link" id="Photos-btn" data-toggle="collapse" data-target="#Photos" aria-expanded="true" aria-controls="Photos">
        Photos
    </button>
    <button class="btn btn-link collapsed" id="Businesses-btn" data-toggle="collapse" data-target="#Businesses" aria-expanded="false" aria-controls="Businesses">
        Businesses
    </button>
</p>

<div id="accordion">
    <div class="card">
        <div id="Photos" class="collapse show" aria-labelledby="Photos-btn" data-parent="#accordion">
            <div class="card-body">
                {% for photo in borough.photo_set.all %}
                    {% if photo.approved %}
                        <div class="row justify-content-center">
                            <img class="img-fluid" src="{{ photo.image.url }}" alt="User Uploaded Image" style="width: 25%">
                        </div>
                    {% endif %}
                {% endfor%}

                {% comment %}
                <!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->

                <!-- <form action="{% url 'vote' borough.slug %}" method="POST">
                    {% csrf_token %}
                    {% for photo in borough.photo_set.all %}
                        {% if photo.approved %}
                        <div class="row justify-content-center">
                            <!-- <img class="img-fluid" src="{{ photo.image.url }}" alt="User Uploaded Image" style="width: 25%"> ->
                            <input type="image" class="img-fluid" src="{{ photo.image.url }}" alt="User Uploaded Image" style="width: 25%" name="photo" id="photo_{{ forloop.counter }}" value="{{ photo.id }}">
                        </div>
                        <div class="row justify-content-center">
                            <input type="submit" value="Like">
                            <label for="photo_{{ forloop.counter }}">{{ photo.votes }}</label>
                        </div>
                        {% endif %}
                    {% endfor%}
                </form> -->
                {% endcomment %}
            </div>
        </div>
    </div>

    <div class="card">
        <div id="Businesses" class="collapse" aria-labelledby="Businesses-btn" data-parent="#accordion">
            <div class="card-body">
                <h1>Discovered {% if Businesses %}<small class="text-muted">({{ Businesses|length }}
                        Businesses{{ Businesses|length|pluralize:"s" }})</small>{% endif %}</h1>
                <hr>
                {% if Businesses %}
                    <div class="card-columns">
                        {% for Business in Businesses %}
                            {% include "partials/yelp_business_card.html" %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-primary" role="alert">No pages to display.</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}