{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col m-4">
        <a href="{% url 'boroughs' %}" class="btn btn-success float-right">Back to List</a>
        <div class="row">
            <h2>
                {{ borough.title }}
                <small class="text-muted">Last updated by <b>{{ borough.author.username }}</b> on
                    {{ borough.modified|date:"SHORT_DATETIME_FORMAT" }} </small>
            </h2>
            {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'edit-borough' slug=borough.slug %}"><i class="fas fa-edit"></i></a>
            {% endif %}
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col" style="margin-top: 3em; margin-bottom: 5em;">
                <p>{{ borough.content|linebreaksbr }}</p>
            </div>
            <div class="col text-center">
                {% if borough.main_img %}
                    <img class="img-fluid" src="{{ borough.main_img.url }}" alt="Main Borough Image" />
                {% else %}
                    <a href="https://placeholder.com"><img class=img-fluid" src="https://via.placeholder.com/250x250?text=Image+of+this+place" alt="Place Holder Image"/></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr>
{% for photo in borough.photo_set.all %}
    {% if photo.approved %}
        <div class="row justify-content-center">
            <img class="img-fluid" src="{{ photo.image.url }}" alt="User Uploaded Image" style="width: 25%"/>
        </div>
    {% endif %}
{% endfor%}
{% endblock %}