{% load static %}
<div class="card mb-3">
    <h5 class="card-header ">{{ borough.title }}</h5>

    <div class="card-body border-dark">
        <img class="card-image img-responsive" src="{{ borough.Main_Img.url }}" alt="Main Borough Image"/>
        <img class="card-image img-responsive" src="{% static 'Images/reddivider.png' %}" alt="Red Divider">
        <p class="card-text">
            {{ borough.content|truncatewords_html:30 }}
            <hr>
            <!-- <button class="btn btn-default" formaction="{% url 'delete-borough' borough.slug %}"><i class="fas fa-trash"></i></button> -->
            <div class="text-right"><a href="{% url 'borough-details' borough.slug %}" title="Read More">Read More</a></div>
        </p>
    </div>  <!-- End Card Body-->

    <div class="card-footer">
        <p class="text-center text-muted">Last updated {{ borough.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ borough.author.username }}</b></p>
    </div>  <!-- End Card Footer-->

</div>      <!-- End Card -->