.landing-container {
  /* Edited  by Ian to fix layout of landing.html*/
  width: 600px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 100px);
  grid-gap: 15px;
  grid-template-areas: "a a a b b b"
    "a a a b b b"
    "d d e e f f"
    "g g e e f f"
    "g g h h f f";
}

.landing-container>div {
  transition: 400ms;
}

.landing-container>div:hover {
  background-color: bisque;
}

.landing-container>div:hover>h3 {
  color: red;
}

.gallery-pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.a {
  grid-area: a;
  position: relative;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: white;
  opacity: 0
}

.centered:hover {
  opacity: 1;
  transition: 400ms;
}

.b {
  grid-area: b;
  position: relative;
  text-align: center;
}

.d {
  grid-area: d;
  position: relative;
  text-align: center;
}

.e {
  grid-area: e;
  position: relative;
  text-align: center;
}

.f {
  grid-area: f;
  position: relative;
  text-align: center;
}

.g {
  grid-area: g;
  position: relative;
  text-align: center;
}

.h {
  grid-area: h;
  position: relative;
  text-align: center;
}