/* Main Layout */
body {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    letter-spacing: 1px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 7rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;            /* Footer height */
}

.footer-copyright{
    font-size: large;
    font-weight: 500;
    padding-top: 1.5em;
    color: white;
}

.submit {
    background-color: #141414;
    color: #fff;
}

.ul {
    padding-left: none;
}

/* Nav Bar */
.navbar {
    border-bottom: 1px solid;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link {
    background-color: #141414;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0.3rem 1.5rem 0;
}

.navbar-nav {
    margin: 0 auto 0 auto;
}

.navbar-light .navbar-toggler {
    border: none;
}

/* Fonts */
p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 1rem 0;
    letter-spacing: 0px;
}

small {
    font-size: 45% !important;
    text-transform: none;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1rem 0;
}

h3 {
    position: absolute;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    background-color: lightgray;
    opacity: 1;
    color: white;
}

label {
    color: red;
}

/* FA EDIT */
.socials {
    align-content: end;
    padding-inline-start: 0;
}

.fa-edit {
    margin-left: 0.5em;
    font-size: xx-large;
    color: red;
}

.fa-trash {
    font-size: xx-large;
    color: red;
}

.fa-facebook {
    padding: auto;
    color: lightblue;
}

.fa-twitter {
    padding: auto;
    color: lightblue;
}

.fa-youtube {
    padding: auto;
    color: red;
}

.fa-instagram {
    padding: auto;
    color: coral;
}

/* Images */
img {
    width: 100%;
}

.card-image {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.columns img {
    margin: 8px 8px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.43;
    background-color: #fff;
    border-radius: 3px;
}

/* #pacific {
    right: 109px;
    top: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chinatown {
    left: 110px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#marina {
    left: 35px;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#norbeach {
    left: 35px;
    top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#soma {
    right: 35px;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.container { /* Edited  by Ian to fix layout of landing.html*/
    width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 15px;
    grid-template-areas: "a a a b b b"
    "c c d d e e"
    "f f d d g g"
    "f f h h g g"
    "i i i i g g"
    "j j j j j j";
}

.container>div {
    background-color: cornflowerblue;
    transition: 400ms;
}

.container>div:hover {
    background-color: bisque;
}

.container>div:hover>h3 {
    color: red;
}

.a {
    grid-area: a;
    position: relative;
    text-align: center;
}

.a>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.a-title {
    position: absolute;
    top: 41%;
    left: 25%;
    height: 30px;
    width: 146px;
}

.centered {
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: white;
    opacity: 0
}

.centered:hover {
    opacity: 1;
    transition: 400ms;
}

.b {
    grid-area: b;
    position: relative;
    text-align: center;
}

.b>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.b>.b-title {
    position: absolute;
    top: 41%;
    right: 25%;
    height: 30px;
    width: 146px;
}

.c {
    grid-area: c;
    position: relative;
    text-align: center;
}

.c>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.c>.c-title {
    position: absolute;
    top: 30%;
    left: 11%;
    width: 146px;
    height: 30px;
}

.d {
    grid-area: d;
    position: relative;
    text-align: center;
}

.d > .d-title {
    position: absolute;
    width: 146px;
    height: 30px;
}

.d>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.e {
    grid-area: e;
    position: relative;
    text-align: center;
}

.e>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.e > e.title {
   position: absolute;
   width: 146px;
   height: 30px;
}

.f {
    grid-area: f;
    position: relative;
    text-align: center;
}
.f > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.f > .f-title {
    position: absolute;
    width: 146px;
    height: 30px;
}

.g {
    grid-area: g;
    position: relative;
    text-align: center;
}
.g > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.g > .g-title {
    position: absolute;
    width: 146px;
    height: 30px;
}

.h {
    grid-area: h;
    position: relative;
    text-align: center;
}
.h > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.h > .h-title {
    position: absolute;
    width: 146px;
    height: 30px;
} 

.i {
    grid-area: i;
    position: relative;
    text-align: center;
}
.i > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.i > .i-title {
    position: absolute;
    width: 146px;
    height: 30px;
}

.j {
    grid-area: j;
    position: relative;
    text-align: center;
}
.j > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.j > .j-title {
    position: absolute;
    width: 146px;
    height: 30px;
}

a {
    text-decoration: none;
}

/* Forms */
.form-control {
    border-radius: 0;
    border: 1px solid #707070;
    box-shadow: 0px 3px 7px -1px rgba(203,203,203,1);
}

.form-group > .col-sm {
    padding: none;
}

/* ---Drop Down---- */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}