<!-- templates/about.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row mt-3">
    <h1>About Page</h1>
</div>
<div class="row mt-3">
    <button><a href="{% url 'index' %}">Back to Home Page</a></button>
    <h2>37 Boroughs is a platform for people who love photography or like to learn about other places.</h2>

    <img class="img-responsive" src="{% static 'Images/Chinatown/main-image.png' %}"
        style="width: 100%; float: right; clear: both;" alt="Chinatown Image #1" />
</div>
{% endblock %}