<!-- templates/about.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img id="sf" src="/37_Boroughs/frontend/images/liam-simpson-xEfD43rkezo-unsplash.jpg" alt="Golden Gate">
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="{% static 'Images/Creators/Chris.jpg' %}" class="card-image img-fluid" alt="Creator Chris">
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="{% static 'Images/Creators/Ariane.jpg' %}" class="card-image img-fluid" alt="Creator Ariane">
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="{% static 'Images/Creators/Alanna.jpg' %}" class="card-image img-fluid" alt="Creator Alanna">
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="{% static 'Images/Creators/Ian.jpg' %}" class="card-image img-fluid" alt="Creator Ian">
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="{% static 'Images/Creators/Constantino.jpg' %}" class="card-image img-fluid" alt="Creator Constantino">
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}