<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'landing.css' %}">

{% block title %}All 37 Boroughs{% endblock %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="a">
        <a href="{% url 'borough-details' 'chinatown' %}">
            <img src="{% static 'images/Landing/chinatown-main-image.png' %}" alt="Chinatown" height="255"
                class="gallery-pic">
            <div class="a-title centered">Chinatown</div>
        </a>
    </div>
    <div class="b">
        <img src="{% static 'images/Landing/1.png' %}" height="255" alt="Pacific Heights" class="gallery-pic">
        <div class="b-title centered">Pacific Heights</div>
    </div>
    <div class="c">
        <img src="{% static 'images/Landing/3551_06.png' %}" height="200" alt="Desert" class="gallery-pic">
        <div class="c-title centered">Marina</div>
    </div>
    <div class="d">
        <img src="{% static 'images/Landing/3551_10.png' %}" alt="Desert Tall" class="gallery-pic">
        <div class="d-title centered">North Beach</div>
    </div>
    <div class="e">
        <img src="{% static 'images/Landing/3557_07.png' %}" height="200" alt="Empty House" class="gallery-pic">
        <div class="e-title centered">Soma</div>
    </div>
    <div class="f">
        <img src="{% static 'images/Landing/3551_02.png' %}" height="450" alt="Desk">
        <div class="f-title centered">Title</div>
    </div>
    <div class="g">
        <img src="{% static 'images/Landing/3557_17.png' %}" height="200" alt="Barn">
        <div class="g-title centered">Title</div>
    </div>
    <div class="h">
        <img src="{% static 'images/Landing/3557_25.png' %}" height="450" alt="Sun">
        <div class="h-title centered">Title</div>
    </div>
</div>
</div>
{% endblock %}
        <!-- <div class="row">
            <div class="col">
                <h3 id="chinatown">Chinatown</h3>
            </div>
            <div class="col">
                <h3 id="pacific">Pacific Heights</h3>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col">
                <h3 id="marina">Marina</h3>
            </div>
            <div class="col">
                <h3 id="norbeach">North Beach</h3>
            </div>
            <div class="col">
                <h3 id="soma">SoMa</h3>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
            </div>
        </div> -->