<!-- templates/boroughs_landing.html -->
{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'boroughs-landing.css' %}">
{% endblock %}

{% block title %}All 37 Boroughs{% endblock %}

{% block content %}
<div class="landing-container">
    <div class="a">
        <a href="{% url 'borough-details' 'chinatown' %}">
            <img src="{% static 'images/Landing/chinatown-nobhill-main.png' %}" alt="Chinatown">
            <div class="a-title centered">Chinatown</div>
        </a>
    </div>
    <div class="b">
        <img src="{% static 'images/Landing/soma-main.jpg' %}" alt="SoMa">
        <div class="h-title centered">SoMa</div>
    </div>
    <div class="d">
        <img src="{% static 'images/Landing/downtown-civiccenter-main.jpeg' %}" alt="Downtown / Civic Center">
        <div class="c-title centered">Downtown / Civic Center</div>
    </div>
    <div class="e">
        <img src="{% static 'images/Landing/haight-main.jpg' %}" alt="Haight">
        <div class="d-title centered">Haight</div>
    </div>
    <div class="f">
        <img src="{% static 'images/Landing/westernaddition-main.jpg' %}" alt="Western Addition">
        <div class="g-title centered">Western Addition</div>
    </div>
    <div class="g">
        <img src="{% static 'images/Landing/seacliff-main.jpg' %}" alt="Seacliff">
        <div class="f-title centered">Seacliff</div>
    </div>
    <div class="h">
        <img src="{% static 'images/Landing/noe-valley-bernal-heights-main.jpg' %}" alt="Noe Valley / Bernal Heights">
        <div class="b-title centered">Noe Valley / Bernal Heights</div>
    </div>
</div>
</div>
{% endblock %}