<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">Welcome to 37 Boroughs!</h1>
<h2 class="text-center">are we using S3 : {{ Mode }}</h2>
<h2 class="text-center">are we using DEBUG : {{ Debug }}</h2>


<br>

<div class="row">
    <div class="col">
        <h2>Header 2</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero
            eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo dolores et ea
            rebum. Stet clita kasd gubergren, no sea takimata sanctus
            est Lorem ipsum dolor sit amet</p>

        <br>
        <hr><br>

        <p>For more information <a href="{% url 'creators' %}">about the Creators</a> please visit this link.</p>

    </div>
    <div class="col">
        <img src="{% static 'images/splash.png' %}" class="img-fluid" style="width: 100%; float: left;" />
    </div>
</div>
{% endblock %}