<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">Welcome to 37 Boroughs!</h1>

<br>

<div class="row">
    <div class="col">
        <p>
            This webpage is design for travelers, photographers, relestate and businesses to be able to share and upload photos from around San Francisco to a specific borough.
        </p>

        <h4 class="text-center">User Journeys</h2>
        
        <p>I’m a real estate agent and would like to stay up to date with the local building conditions of the areas in which I
        sell houses or property. I came across SITE_URL in which I can visit and see photos that have recently been uploaded by
        the community to see the current state of all the buildings in specific boroughs in the city. I also use this to be able
        to quickly show clients an overview of each borough</p>
        
        <p>I’m an avid traveler and I like to look into a location before I travel to it. I came across SITE_URL and it has lovely
        descriptions and photos of each of the city’s boroughs. They say we’ll even be able to upload our own photos sometime in
        the future. This helps me get a better idea of where I may want to go, and what to expect.</p>
        
        <p>I’m a community watch member for my local community. I like to be able to upload cool businesses, artwork, projects, and
        flowers I find around our town. I also sometimes find some forms of vandalism throughout the city. With SITE_URL, I am
        able to ping the owners of it and they can contact the owner of the building or the community watch of the area in order
        to solve things.</p>
        
        <p>We are the owners of SITE_URL and we love to see how much attention and we love it has been getting from people from all
        around.</p>

        <hr>

        <p>For more information <a href="{% url 'creators' %}">about the Creators</a> please visit this link.</p>

    </div>
    <div class="col">
        <img src="{% static 'images/splash.png' %}" class="img-fluid" style="width: 100%; float: left;" />
    </div>
</div>
{% endblock %}