<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">Welcome to 37 Boroughs!</h1>

<br>

<div class="row">
    <div class="col">
        <p>
            Here you will be able to discover photographs from locals and tourists alike of all 37 boroughs in San Francisco: <br>
            - Discover all the hidden gems 💎 <br>
            - Help others find all the little nooks and crannies  📍 <br>
            - Upload your findings 📷 <br>
        </p>

        <hr>
        {{Census_Name}}

        <br>

        <i class="fas fa-street-view"></i> {{Census_Pop}}

        <br>

        <i class="fas fa-home"></i>  {{Census_House}}
        <p>For more information <a href="{% url 'creators' %}">about the Creators</a> please visit this link.</p>

    </div>
    <div class="col">
        <img src="{% static 'images/splash.png' %}" class="img-fluid" style="width: 100%; float: left;" />
    </div>
</div>
{% endblock %}